<div id="container">
    <app-searchcomponent></app-searchcomponent>
    <div class="addcontact">
        <span id="contacttitle">
            add New Contacts
        </span>
        <span id="addbtn">
            <a routerLink="/add">
                <i class="fas fa-plus"></i>
            </a>
        </span>
        <hr/>
    </div>

    <div class="addcontact">
        <span id="latestcontacts">
            Latest Contacts
        </span>
    </div>
    <ul class="list-group" id="contact-list">

        <app-contactitem [contact]="item" *ngFor="let item of recentContacts"></app-contactitem>

    </ul>
 
    <div class="addcontact">
        <span id="latestcontacts">
            <a id="a"> A </a>
        </span>
        <span class="char">
            <a href="#a"> A </a>
        </span>
    </div>
    <p class="clear"></p>
    <ul class="list-group x" id="contact-list">     
 <app-contactitem [contact]="item" *ngFor="let item of aContacts"></app-contactitem>
</ul>
    <div class="addcontact">
        <span class="char">
            <a href="#b"> B </a>
        </span>
    </div>
   
    <div class="addcontact">
        <span class="char">
            <a href="#c"> C </a>
        </span>
    </div>
  
    <div class="addcontact">
        <span class="char">
            <a href="#d"> D</a>
        </span>
    </div>

    <div class="addcontact">
        <span class="char">
            <a href="#e"> E </a>
        </span>
    </div>

    <div class="addcontact">
        <span class="char">
            <a href="#f"> F </a>
        </span>
    </div>

    <div class="addcontact">
        <span class="char">
            <a href="#g"> G </a>
        </span>
    </div>

    <div class="addcontact">
        <span class="char">
            <a href="#h"> H </a>
        </span>
    </div>

    <div class="addcontact">
        <span class="char">
            <a href="#i"> I </a>
        </span>
    </div>

    <div class="addcontact">
        <span class="char">
            <a href="#j"> J </a>
        </span>
    </div>

    <div class="addcontact">
        <span class="char">
            <a href="#k"> K </a>
        </span>
    </div>

    <div class="addcontact">
        <span class="char">
            <a href="#l"> L </a>
        </span>
    </div>
    <div class="addcontact">
        <span class="char">
            <a href="#m"> M </a>
        </span>
    </div>

    <div class="addcontact">
       
        <span class="char">
            <a href="#n"> N </a>
        </span>
    </div>

    <div class="addcontact">
        <span class="char">
            <a href="#o"> O </a>
        </span>
    </div>

    <div class="addcontact">
        <span class="char">
            <a href="#p"> P </a>
        </span>
    </div>
 
    <div class="addcontact">
        <span class="char">
            <a href="#q"> Q </a>
        </span>
    </div>

    <div class="addcontact">
        <span class="char">
            <a href="#r"> R </a>
        </span>
    </div>

    <div class="addcontact">
        <span class="char">
            <a href="#s"> S </a>
        </span>
    </div>
  
    <p class="clear"></p>
    <div class="addcontact">
            <span id="latestcontacts">
                    <a id="b"> B </a>
                </span>
        <span class="char">
            <a href="#t"> T </a>
        </span>
    </div>
    <ul class="list-group x" id="contact-list">     
            <app-contactitem [contact]="item" *ngFor="let item of bContacts"></app-contactitem>
           </ul>
    <div class="addcontact">
        <span class="char">
            <a href="#u"> U </a>
        </span>
    </div>

    <div class="addcontact">
        <span class="char">
            <a href="#v"> V </a>
        </span>
    </div>

    <div class="addcontact">
        <span class="char">
            <a href="#w"> W </a>
        </span>
    </div>

    <div class="addcontact">
        <span class="char">
            <a href="#x"> X </a>
        </span>
    </div>

    <div class="addcontact">
        <span class="char">
            <a href="#y"> Y </a>
        </span>
    </div>
  
    <div class="addcontact">
        <span class="char">
            <a href="#z"> Z </a>
        </span>
    </div>
    <p class="clear"></p>    
    <div class="addcontact">
            <span id="latestcontacts">
                <a id="c"> C </a>
            </span>
            </div>
    <p class="clear"></p>
    <ul class="list-group x" id="contact-list">     
            <app-contactitem [contact]="item" *ngFor="let item of cContacts"></app-contactitem>
           </ul>


</div>

